@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Inconsolata&family=Lobster&family=Pacifico&display=swap');
.big{
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzjW45_1AHC87TBlvxPTIhbbnx6N0oA2iUkA&usqp=CAU") center/cover no-repeat;
}
.card-img-top{
    border: 4px solid black;
    height: 100px;
    width: 100px;
    object-fit: contain;
    border-radius: 50%;
    margin: 10px auto;
    margin-top: 50px;
    
}
.card-body h2{
    text-align: center;
}
.inpbox{
    margin: 5px 3px;
    padding: 5px 3px;
}
.myinput{
    height: 37px;
    width: 90%;
    border-radius: 10px;
    border: 2px solid black;
}
.mybtn{
    background-color: purple;
    font-weight: bold;
    color: white;
    padding: 5px 17px;
    box-shadow: 2px 3px rgb(124, 56, 124);
}
#forgotpass{
    text-align: center;
    font-family: 'Lobster', cursive;
}